{% extends 'index.html' %}

{% block content %}
  <h3>{{ bucket.name|title }} Errors</h3>
  <table id="errors">
    {% if errors %}
      {% for error in errors %}
        <tr><td width="150">{{ error.created_at|timesince }} ago<td>{{ error.message }}</td></tr>
      {% endfor %}
    {% else %}
      <tr><td><i>None</i></td></tr>
    {% endif %}
  </table>

  <br /><br />
  <h3>API Usage</h3>
  <pre class="code">
RestClient.post(
  'http://{{ request.META.HTTP_HOST }}/buckets/{{ bucket.key.name }}',
  {
    :message => 'An error occurred...',
    :secret_key => '{{ bucket.secret_key }}'
  },
  :accept => :json
)</pre>
  <form id="post_error" action="/buckets/{{ bucket.key.name }}" method="POST">
    <div>message:</div>
    <textarea name="message" rows="7" cols="64">An error occurred...</textarea>
    <div>secret_key:</div>
    <input type="text" name="secret_key" value="{{ bucket.secret_key }}" size="55" /><input type="submit" value="POST">
  </form>
  <br style="clear: both"/>
{% endblock %}