{% extends 'index.html' %}

{% block content %}
  <h3>All Errors</h3>
  <table id="errors">
    {% if errors %}
      {% for error in errors %}
        <tr><td>{{ error.message }}</td></tr>
      {% endfor %}
    {% else %}
      <tr><td><i>None</i></td></tr>
    {% endif %}
  </table>
{% endblock %}

{% block sidebar %}
  <h4><a href="/buckets/">All Buckets</a></h4>
  {% if buckets %}
    <ul id="sidenotes">
    {% for bucket in buckets %}
      <li><a href="/buckets/{{ bucket.name }}/">{{ bucket.name }} (settings)</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <i>None</i>
    <hr />
  {% endif %}

  {% block bucketform %}
  <br />
  <form method="POST">
    {{ form.as_p }}
    <input type="submit" name="action" value="Create" />
  </form>
  {% endblock %}

{% endblock %}