{% extends 'buckets.html' %}

{% block content %}
  <h3>{{ bucket.name|title }} Errors</h3>
<pre>
RestClient.post "http://{{ request.META.HTTP_HOST }}/buckets/{{ bucket.key.name }}", { \
  :secret_key => '{{ bucket.secret_key }}', \
  :message => 'An error occurred...' \
}, :accept => :json
</pre>
  <table id="errors">
    {% if errors %}
      {% for error in errors %}
        <tr><td>{{ error.message }}</td></tr>
      {% endfor %}
    {% else %}
      <tr><td><i>None</i></td></tr>
    {% endif %}
  </table>
{% endblock %}

{% block bucketform %}{% endblock %}